asn1crypto==0.24.0
azure-common==1.1.10
azure-nspkg==2.0.0
azure-storage-blob==1.1.0
azure-storage-common==1.1.0
azure-storage-nspkg==3.0.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.3
decorator==4.3.0
dill==0.2.7.1
enum34==1.1.6
futures==3.2.0
idna==2.6
ipaddress==1.0.22
networkx==2.1
pycparser==2.18
python-dateutil==2.7.2
PyYAML==3.12
requests==2.21.0
six==1.11.0
urllib3==1.24.1
git+https://bitbucket.org/dranew/pypeliner#egg=Pypeliner
